html, body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

h1, h2 {
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

p {
    color: gray;
    font-size: 21px;
}

#device {
    background-color: black;
    text-align: center;
}

footer {
    text-align: right;
}